@charset "utf-8";
body { background-color:#f5f5f5; }
#flashlog {
	background-color:#e7e5dc;
	border-color:#bcbec0;
}
#flashlog li {
	background-color:#fff;
	border-left-color:#bcbec0;
}
#flashmemorylog dt {
	color:#414142;
	background-color:#e7e5dc;
}
